#华三5560模板

一、配置设备名称
sysname {{ hostname }}
#
二、配置安全策略
# 2.1、远程管理ACL
acl number 2010
 description Management
{# ACL序号规则不生效 #}
{% set rule_num = 10 -%}
 {%- for IP in device.servers.ssh_ips -%}
 rule {{ rule_num }} permit source {{ IP }}
    {%- set rule_num = rule_num + 10 %}
 {% endfor -%}
 rule 900 deny
 quit
#
# 2.2、SNMP读策略ACL
acl number 2020
 description SNMP-READ
 rule 10 permit source {{ device.servers.snmp_servers }} 0
 rule 900 deny
 quit
#
{%- if device.servers.port_secure == 'enable' %}
# 2.3、配置端口安全
acl number 3100
 description Port-Security
 rule 0 deny udp destination-port eq netbios-dgm
 rule 5 deny udp destination-port eq netbios-ns
 rule 7 deny udp destination-port eq 593
 rule 8 deny tcp destination-port eq 593
 rule 9 deny udp destination-port eq 445
 rule 10 deny tcp destination-port eq 445
 rule 12 deny tcp destination-port eq 139
 rule 13 deny udp destination-port eq 135
 rule 14 deny tcp destination-port eq 135
 rule 55 deny tcp destination-port eq 136
 rule 60 deny tcp destination-port eq 137
 rule 70 deny tcp destination-port eq 138
 rule 1000 permit ip
 quit
#
{%- endif %}
{% if device.servers.dhcp_snooping == 'enable' %}
# 2.4、配置DHCP SNOOPING
dhcp enable
dhcp snooping enable
#
{%- endif %}
三、配置STP
stp global enable
stp mode mstp
stp bpdu-protection
stp tc-protection
#
stp region-configuration
 region-name zj.sgcc.com.cn
 revision-level 1
 active region-configuration
#
stp instance 0 priority 40960
#
四、配置管理信息
{% if device.servers.vrf == 'IPMI' %}
# 4.1配置VRF
ip vpn-instance IPMI
 quit
#
{% endif %}
{% if device.servers.mgmt_port == 'vlan'%}
# 4.2、创建管理VLAN
vlan {{ device.servers.mgmt_port_id }}
#
# 4.3、配置管理IP
interface vlan {{ device.servers.mgmt_port_id }}
 ip address {{ device.servers.mgmt_ip }}
 quit
#
#4.4、配置管理路由
#
ip route-static 0.0.0.0 0.0.0.0 {{ device.servers.mgmt_gateway }} description MGMT
#
#4.4、配置管理路由
ip route-static 0.0.0.0 0.0.0.0 {{ device.servers.mgmt_gateway }} description MGMT
#
{% endif %}
# 4.5、配置SSH
ssh server enable
undo password-control length enable
#
local-user admin
 password simple 密码
 service-type ssh
 authorization-attribute user-role level-0
 undo authorization-attribute user-role network-operator
 quit
#
user-interface vty 0 63
 authentication-mode scheme
 idle-timeout 5 0
 protocol inbound ssh
 quit
#
ssh user admin service-type stelnet authentication-type password
#
super password  simple 密码
#
#4.6、配置Tacacs
hwtacacs scheme 4atac
 primary authentication 172.19.225.180
 primary authorization 172.19.225.180
 primary accounting 172.19.225.180
 secondary authentication 172.19.225.181
 secondary authorization 172.19.225.181
 secondary accounting 172.19.225.181
 key authentication simple As@99518
 key authorization simple As@99518
 key accounting simple As@99518
 user-name-format without-domain
 nas-ip 172.16.57.197
 quit
#
domain 4atac
 authentication login hwtacacs-scheme 4atac local
 authorization login hwtacacs-scheme 4atac local
 accounting login hwtacacs-scheme 4atac local
 authorization command hwtacacs-scheme 4atac
 authentication default hwtacacs-scheme 4atac local
 authorization default hwtacacs-scheme 4atac local
 accounting default hwtacacs-scheme 4atac local
#
domain default enable 4atac
#
#4.7、配置Console密码
#
line aux 0
 authentication-mode password
 set authentication password simple 密码
 quit
#
五、配置特性
#
#5.1、配置登录提示
#
header login %
机    房：{{ device.location }}
设备用途：{{ device.use }}
设备名称：{{ hostname }}
机    柜: {{device.cabinet}}
%
header shell %
This property belongs to State Grid ZheJiang Elevtric Power Co. Ltd for authorized users only. Unauthorized access will be prosecuted
%
#
# 5.2、配置LLDP
lldp global enable
lldp compliance cdp
#
# 5.3、配置NTP
ntp-service enable
ntp-service source vlan {{ device.servers.mgmt_port_id }}
{% for ip in device.servers.ntp_servers %}
ntp-service unicast-server {{ ip }} source vlan {{ device.servers.mgmt_port_id }}
{% endfor %}
#
clock timezone BeiJing add 08:00:00
#
# 5.4、配置snmp
snmp-agent
snmp-agent sys-info version v3
snmp-agent sys-info contact {{ hostname }}
snmp-agent mib-view included WangGuan internet
snmp-agent group v3 WangGuan privacy read-view WangGuan notify-view WangGuan
snmp-agent usm-user v3 XT5@HzTeam&win WangGuan simple authentication-mode md5 SYy5!HzTeam!win privacy-mode des56 sYY5!HzTeam!win acl 2020
snmp-agent trap source vlan {{ device.servers.mgmt_port_id }}
snmp-agent target-host trap address udp-domain {{ device.servers.snmp_servers }} params securityname XT5@HzTeam&win v3 privacy
 undo snmp-agent trap enable configuration
 undo snmp-agent trap enable l3vpn
 undo snmp-agent trap enable mac-address
 snmp-agent trap enable syslog
#
# 5.5、配置syslog
info-center source default logbuffer level debugging
info-center source default loghost level notification
info-center source NTP loghost level error
info-center loghost source vlan {{ device.servers.mgmt_port_id }}
info-center loghost {{ syslog_servers }}
